{% include 'header.html' %}
<h2>Home</h2>

<p>
    This program is the product of a project done by Master forensic students in the UvA.
</p>

<p>
    This site gives an overview of the data gather from discord. The data is also gathered in the output <br>
    folder that is given when running this program. Please remember to only use this knowledge and <br>
    forensic power for good. In essence, we have collected <b>all</b> collectable artifacts from discord <br>
    and present it here in a user friendly overview. On the right hand side you can find links about us and <br>
    about the project. To restart the project use: <br><br>
    export FLASK_APP=serv.py ; flask run <br><br>
    where serv.py is the hard link to the serv.py file.

</p>
{% include 'footer.html' %}