<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>DiscRecorder</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />
</head>
<body>
<div id="header">
<h1>DiscRecorder</h1>
 <div id="menu">
  <ul id="nav">
   <li><a href="/">Home</a></li>
   <li><a href="/chat">Chat logs</a></li>
   <li><a href="/friends">Friend list</a></li>
   <li><a href="/user">user info</a></li>
      <li><a href="/users">Known users</a></li>
  </ul>
 </div>
</div>
<div id="content">
<div id="right">